*{
  box-sizing: border-box;
  font-family: 'Hind', sans-serif;
  scroll-margin-top: 1rem;

}
html{
  scroll-behavior: smooth;
}
p{
  text-align: justify;
}
/* automatically set the size of image */
img {
  width: 100%;
  height: auto;
}
.Head2 {
  text-decoration: none;
  color: #fae806;
  font-size: 15px;
}
.part img {
  width: 198px;
  height: 132px;
}
.bottom2 div {
  float: left;
  padding-right: 25px;
}
.bottom2 {
  margin-left: 100px;
  padding-top: 15px;
}
.news {
  margin-left: -950px;
}
.hrb {
  height: 5px;
  background: #1e1e1e;
  margin-top: -20px;
  margin-right: 355px;
}
.bottom2 div > h4 {
  border-bottom: 3px solid #1e1e1e;
  text-align: left;
}
.tipheader {
  background-image: url("https://tip.edu.ph/themes/custom/images/TIP-desktop-HOMEPAGE-LIGHT-GRAY.jpg");
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 790px;
  margin:0;
  padding:0;
}
.headline {
  width: 200px;
  text-align: left;
  font-size: 12px;
}
.headline {
  width: 200px;
  text-align: left;
  font-size: 12px;
}
.grayheader   {
  background-image: url("https://tip.edu.ph/themes/custom/images/TIP-desktop-INSIDEPAGE-DARK-GRAY.jpg");
  height: 320px;
}
.paa {
  color: #E8E8E8;
  text-align: center;
}
.blackheader {
  color: white;
  background: #1e1e1e;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-top: -22px;
}
.blackheader a:hover{
color: white;
}
.tip {
  background: #fae806;
  padding-top: 10px;
  padding-bottom: 10px;
}
.icon {
  float: right;
  margin-right: 40px;
}
.icon a > i {
  font-size: 20px;
}
.contact1 * {
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}
.icon > a {
  background: #fae806;
  padding: 9px;
  border-radius: 15rem;
}
.lea {
  float: right;
  margin-right: 55px;
}
.lea a:hover {
  border-bottom: 2px #424242 solid;
}
.bottom {
  background: #fae806;
  padding-top: 10px;
  padding-bottom: 80px;
  overflow: hidden;
}
.main {
  width: 1100px;
  margin: auto;
  margin-top: -10px;
  margin-bottom: -10px;
}

.content {
  padding-left: 1rem;
  padding-right: 1rem;
}

.div-content {
  top: 0;
  position: sticky;
  display: flex;
  justify-content: space-evenly;
  width: auto;
}

#back-to-top:hover{
  color: blue;
}

#back-to-top::before {
  content: "[";
}

#back-to-top::after {
    content: "]";
}

body {
  background: #1e1e1e
}

.side50{
  width: 49%;
  float: left;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.txt-cntr{
  text-align: center;
}

.w80{
  width: 80%;
  margin:0 auto;
}
.w90{
  width: 90%;
  margin:0 auto;
}
.pad1{
  padding: 1rem;
}
.pad2{
    padding: 3rem;
}
.mrgn-left1{
  margin-left: 3rem;
}

.lil-hr{
  width: 90px;
  height: 30px;
  background-color: #424242;
}
.div-line{
  width: 80%;
  background-color: #424242;
  height: 3px;
}
.m-top{
  margin-top: 4rem;
}
section h2{
  color:#ECE806;
  background:#424242;
  padding:.5rem;
}
section p, section h4{
  padding: 0 1rem;
  font-size: 1.2rem;
}
.b-txt{
  font-size: 4rem;
  margin-top: 0px;
}
.btn{
  font-size: 1.2rem;
  padding:.7rem 1.3rem;
  border-radius: 25px;
  background: #494A4A;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
  transition: all 0.5s;
  cursor: pointer;
}

.btn:hover{
  background:transparent;
  color: black;
}

.button {
  border-radius: 4px;
  background-color: #FAE806;
  border: none;
  color: black;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  padding: .7rem;
  transition: all 0.5s;
  cursor: pointer;
  margin: 1rem;
}
.button span:after{
  content: ' ▾ ';
}
.btn span:after {
  content: '»';
}

.button span, .btn span  {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after, .btn span:after {
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 1.8rem;
}
.btn:hover span {
  padding-right: 1rem;
}

.button:hover span:after, .btn:hover span:after {
  opacity: 1;
  right: 0;
}
.arrow {
  font-size: 4rem;
  border: solid black;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.angledown a:hover{
  color:#FAE806;
}
.back-to-top{
  padding:.5rem;
  position: fixed;
  background-color:#424242;
  width: 50px;
  height: 50px;
  bottom:2rem;
  right: 1rem;
}
.back-to-top i{
  color:#FAE806;
}
.back-to-top:hover{
  opacity: .8;
  background-color: #FAE806;
}
.back-to-top i:hover{
  color:black;
}
.overflow{
  padding:.5rem 1rem;
  overflow: scroll;
  overflow-x: hidden;
  height: 550px;
  background: #D6D6D6;
}
.overflow::-webkit-scrollbar {
  width: 10px;
  background: #424242;
}
/* Handle */
.overflow::-webkit-scrollbar-thumb {
  background: #FAE806;
}
.small p{
  font-size: 1rem;
}
div.cntr{
  background: rgba(255, 219, 41,.5);
}
.cntr{
  padding:2rem;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.program-heading{
  color:#FAE806;
  background: #424242;
  padding:.2rem .5rem;
}
.wrapper {
  display: grid;
  grid-template-columns: 30% 70%;
}
