.Head2 {
  text-decoration: none;
  color: #fae806;
  font-size: 15px;
}
.tipheader {
  background-image: url("https://tip.edu.ph/themes/custom/images/TIP-desktop-HOMEPAGE-LIGHT-GRAY.jpg");
  background-attachment: fixed;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 1000px;
}
.blackheader {
  color: white;
  background: #1e1e1e;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-top: -22px;
}
.tip {
  background: #fae806;
  padding-top: 10px;
  padding-bottom: 10px;
}
.icon {
  float: right;
  margin-right: 40px;
}
.icon a > i {
  font-size: 20px;
}
a {
  text-decoration: none;
  color: black;
}
.icon > a {
  background: #fae806;
  padding: 9px;
  border-radius: 15rem;
}
.lea {
  float: right;
  margin-right: 55px;
}
.bottom {
  background: #fae806;
  padding-top: 10px;
  padding-bottom: 80px;
}
.main {
  width: 1100px;
  margin: auto;
  margin-top: -10px;
  margin-bottom: -10px;
}

.content {
  padding-left: 1rem;
  padding-right: 1rem;
}

.div-content {
  top: 0;
  position: sticky;
  display: flex;
  justify-content: space-evenly;
  width: auto;
}

#back-to-top:hover{
  color: blue;
}

#back-to-top::before {
  content: "[";
}

#back-to-top::after {
    content: "]";
}

body {
  background: rgb(100, 99, 99);
}
