*{
  box-sizing: border-box;
  font-family: 'Hind', sans-serif;
}
p{
  text-align: justify;
}
/* automatically set the size of image */
img {
  width: 100%;
  height: auto;
}
.Head2 {
  text-decoration: none;
  color: #fae806;
  font-size: 15px;
}
.part img {
  width: 198px;
  height: 132px;
}
.bottom2 div {
  float: left;
  padding-right: 25px;
}
.bottom2 {
  margin-left: 100px;
  padding-top: 15px;
}
.news {
  margin-left: -950px;
}
.hrb {
  height: 5px;
  background: #1e1e1e;
  margin-top: -20px;
  margin-right: 355px;
}
.bottom2 div > h4 {
  border-bottom: 3px solid #1e1e1e;
  text-align: left;
}
.tipheader {
  background-image: url("https://tip.edu.ph/themes/custom/images/TIP-desktop-HOMEPAGE-LIGHT-GRAY.jpg");
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 790px;
}
.headline {
  width: 200px;
  text-align: left;
  font-size: 12px;
}
.grayheader   {
  background-image: url("https://tip.edu.ph/themes/custom/images/TIP-desktop-INSIDEPAGE-DARK-GRAY.jpg");
  height: 320px;
}
.paa {
  color: #E8E8E8;
  text-align: center;
}
.blackheader {
  color: white;
  background: #1e1e1e;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-top: -22px;
}
.blackheader a:hover{
color: white;
}
.tip {
  background: #fae806;
  padding-top: 10px;
  padding-bottom: 10px;
}
.icon {
  float: right;
  margin-right: 40px;
}
.icon a > i {
  font-size: 20px;
}
.contact1 * {
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}
.icon > a {
  background: #fae806;
  padding: 9px;
  border-radius: 15rem;
}
.lea {
  float: right;
  margin-right: 55px;
}
.bottom {
  background: #fae806;
  padding-top: 10px;
  padding-bottom: 80px;
  overflow: hidden;
}
.main {
  width: 1100px;
  margin: auto;
  margin-top: -10px;
  margin-bottom: -10px;
}

.content {
  padding-left: 1rem;
  padding-right: 1rem;
}

.div-content {
  top: 0;
  position: sticky;
  display: flex;
  justify-content: space-evenly;
  width: auto;
}

#back-to-top:hover{
  color: blue;
}

#back-to-top::before {
  content: "[";
}

#back-to-top::after {
    content: "]";
}

body {
  background: #1e1e1e
}

.side50{
  width: 49%;
  float: left;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.txt-cntr{
  text-align: center;
}

.w80{
  width: 80%;
  margin:0 auto;
}
.pad1{
  padding: 1rem;
}
.mrgn-left1{
  margin-left: 3rem;
}
.btn{
  font-size: 1.2rem;
  padding:.7rem 1.3rem;
  border-radius: 25px;
  background: #494A4A;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
}
.btn:hover{
  background: #E8E8E8;
  color: black;
}
.lil-hr{
  width: 90px;
  height: 25px;
  background-color: #424242;
}
.div-line{
  width: 80%;
  background-color: #424242;
  height: 3px;

}
.m-top{
  margin-top: 4rem;
}

/*<<<<<<< HEAD
=======*/

.wrapper {
  display: grid;
  grid-template-columns: 30% 70%;
}

/*<<<<<<< HEAD*/
p{
  text-align: justify;
}
/*=======
>>>>>>> 53e44e29d6f4e6a9e7fe8ef4d8c3275796fe86ec
>>>>>>> 6904c17669094cce25e7ea3e49bf8972e0755d3f
*/